{% extends "layout.html" %}
{% block content %}
<script src="/javascript/pages/toplistpage/addcontent.js"></script>

<div class="col-md-1">

</div>
<div class="col-md-5">
  <div class="well tos-well outer-shadow">
    <h1>{{ toplist.name }}</h1>
    {% with id=toplist.id, type="toplists", rating=toplist.rating, rated=rated %}
    {% include 'common/rating.html' %}
    {% endwith %}
  </div>
</div>

<div class="col-md-1">

</div>

<div class="col-md-5">
  <div class="panel panel-default outer-shadow">
    <div class="panel-heading">Top List</div>
    <div class="panel-body">
      {% for content in content_list %}
      <p>
        <a href="{{ content.url|safe }}">{{ content.name }}</a>
      </p>
      {% endfor %}
    </div>
  </div>
</div>





{% endblock %}
