{% extends "layout.html" %}
{% block content %}
<div class="well well-default tos-well">
<h1>About the Project</h1>
<h2>Authors:</h2>
<p>Hannes Edvartsen</p>
<p>Truls Haraldsson</p>
<h2>Project description</h2>
This website/database will keep information about music bands and artists, what records they have done and such things.
The information about the musicians will be added and edited by anyone who wants to(kind of like wikipedia).
A user can see all information without logging in. But logging in gives benefits of saving favourites,
review/comment musicians, adding new content to the data base, upvoting reviews/comments and making top-lists. A logged in user
does also have a personal profile page, where they can find information about their previous actions. They can also upload their
own personal sound, this for fun to make each profile more personal.
Different search functions will exist to make it easy to find the desired musicians.
A user should be able to share their top-lists and such on social media.
<h2> Back-End </h2>
The back-end will consist of a database and a server on google app engine.
The server code will be written in python, and the data base will be google datastore.
Our API will follow the RESTful structure.
<h2> Front-End </h2>
The tools used for the front-end will be jQuery, jinja2 and bootstrap.
On the front-end a user can display all the gathered information in a nice way.

<a href="https://docs.google.com/a/ltu.se/presentation/d/1i7GiYJk9EBA-8IJ4HTdTU6TiIYC5MYke4tT1oME-90E/edit?usp=sharing">
  <h2>Presentation</h2>
</a>
</div>
{% endblock %}
