{% extends "layout.html" %}
{% block content %}
<div class="new-container">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-2"></div>
      <div class="col-md-8">
        <div class="jumbotron">
          <h1> The One Sound </h1>
        </div>
      </div>
      <div class="col-md-2"></div>
    </div>
    <div class="row">
      <div class="col-md-2"></div>
      <div class="col-md-8">
        <div class="row">
          <div class="col-md-4">
            <div class="panel panel-default outer-shadow">
              <div class="panel-heading down-shadow">Recent udpates</div>
              <div class="panel-body news-panel">
                <p>
                  TODO: FIX DYNAMICALLY UPDATED TEXT
                </p>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="panel panel-default outer-shadow">
              <div class="panel-heading">Today's Pick</div>
              <div class="panel-body news-panel">
                <p>
                  TODO: FIX DYNAMICALLY UPDATED TEXT
                </p>
                <a href="">fix link to dynamically change</a>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="panel panel-default outer-shadow">
              <div class="panel-heading">Trending</div>
              <div class="panel-body news-panel">
                <p>
                  TODO: FIX DYNAMICALLY UPDATED LINKS
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-2"></div>
    </div>
  </div>
</div>
{% endblock %}
