{% extends "layout.html" %}
{% block content %}
<link rel="stylesheet" href="/stylesheets/tos_search_result.css">
{% if no_hits %}
{% with title='Nothing found', subtitle='Feel free to create new band' %}
{% include 'pages/bands/create-band-box.html' %}
{% endwith %}
{% else %}
  <div class="search-result-container">
    <div class="container-fluid">
      <div class="row">
        <!-- BANDS SEARCH RESULTS -->
        <div class="col-md-4">
          <div class="panel panel-default">
            <div class="panel-heading"><b>Bands</b></div>
            <div class="panel-body search-result-table">
              {% for band in bands %}
              <p>
                <a href="{{ band.url|safe }}">{{ band.name }}</a>
              </p>
              {% endfor %}
            </div>
          </div>
        </div>
        <!-- ALBUMS SEARCH RESULTS -->
        <div class="col-md-4">
          <div class="panel panel-default">
            <div class="panel-heading"><b>Albums</b></div>
            <div class="panel-body search-result-table">
              {% for album in albums %}
              <p>
                <a href="{{ album.url|safe }}">{{ album.name }}</a>
              </p>
              {% endfor %}
            </div>
          </div>
        </div>
        <!-- TRACKS SEARCH RESULTS -->
        <div class="col-md-4">
          <div class="panel panel-default">
            <div class="panel-heading"><b>Tracks</b></div>
            <div class="panel-body search-result-table">
              {% for track in tracks %}
              <p>
                <a href="{{ track.url|safe }}">{{ track.name }}</a>
              </p>
              {% endfor %}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endif %}

{% endblock %}
