{% extends "layout.html" %}
{% block content %}
<script src="/javascript/pages/bandpage/create.js"></script>
<form id="new-band-form" action="#">
  <p>
    <label for="name">Band name:</label>
    <input type="text" name="name" value="">
  </p>
  <p>
    <label for="description">Band description:</label>
    <input type="text" name="description" value="">
  </p>
  <p>
    <label for="submit" class="sr-only">submit:</label>
    <input type="button" name="submit" value="submit" id="submit-new-band">
  </p>
</form>

{% endblock %}
