{% extends "layout.html" %}

{% block content %}

<h1>{{ album.name }}</h1>
<h2>{{ album.description.description }}</h2>

{% with id=album.id, type="albums", rating=album.rating, rated=rated %}
{% include 'common/rating.html' %}
{% endwith %}

{% for track in tracks %}
  <h2>{{ track.name }}</h2>
{% endfor %}

<p>
  {% with commentable_id=album.id, type="albums" %}
  {% include 'common/comment.html' %}
  {% endwith %}
</p>

{% with comments=album.comment %}
{% include 'common/commentdisplay.html' %}
{% endwith %}
{% endblock %}
