{% extends "layout.html" %}
{% block content %}
<script src="/javascript/common/update-entity.js"></script>
<script src="/javascript/pages/albumpage/display.js"></script>

<link rel="stylesheet" href="/stylesheets/tos_album.css">

<div class="album-container">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-8">
        <div class="row">
          <div class="col-md-6">
            <!-- CHANGE THE IMAGE LOCATION LATER-->
            <img src="http://www.rock-n-metal.de/queen2.jpg" class="img-thumbnail" alt="Album Image" width="512" height="512">
            <h1>{{ album.name }}</h1>
            {% with id=album.id, type="albums", rating=album.rating, rated=rated %}
            {% include 'common/rating.html' %}
            {% endwith %}
          </div>
          <div class="col-md-6 well tos-well">
            <h2>{{ album.description.description }}</h2>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            {% with comments=album.comment %}
            {% include 'common/commentdisplay.html' %}
            {% endwith %}
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="panel panel-default">
          <div class="panel-heading">Tracks</div>
          <div class="panel-body">
            {% for track in tracks %}
            <p>
              <a href="{{ track.url|safe }}">{{ track.name }}</a>
            </p>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!--
<h1>{{ album.name }}</h1>
<h2>{{ album.description.description }}</h2>

<div class="picture-container">
  <h3>Picture div</h3>
  <div id="picture-display" class="">
    {{ album.description.picture_url }}
  </div>
  <div id="picture-edit">
    <form id="update-picture-form" action="#" data-id="{{ album.id }}">
      <input type="url" name="picture_url" value="URL to new picture">
      <input type="submit" name="submit" value="submit">
    </form>
  </div>
</div>

<div class="description-container">
  <h3>Description</h3>
  <div id="description-display">
    {{ album.description.description }}
  </div>
  <div id="description-edit">
    <form id="update-description-form" action="#" data-id="{{ album.id }}">
      <input type="text" name="description" value="{{ album.description.description }}">
      <input type="submit" name="submit" value="submit">
    </form>
  </div>
</div>

{% with id=album.id, type="albums", rating=album.rating, rated=rated %}
{% include 'common/rating.html' %}
{% endwith %}

{% for track in tracks %}
  <h2>{{ track.name }}</h2>
{% endfor %}

<p>
  {% with commentable_id=album.id, type="albums" %}
  {% include 'common/comment.html' %}
  {% endwith %}
</p> -->

{% endblock %}