:root {
  --font-size-factor: medium;
}

body {
  padding-top: 0px;
  padding-bottom: 40px;
  background-color: #D8D8D8;
}

.big-textarea {
  width: 100%;
}


#div-add-entity {
  display: none;
}

.news-container {
  padding: 1%;
  background-color: #2EBDFF;
  opacity: 0.3;
}

.tos-well {
  background-color: #F0F0F0;
}

.rating-div {
  margin: auto;
  margin-top: 5px;
}

.pointable {
  cursor: pointer;
}

span.glyphicon {
  font-size: 1.7em;
}

.enlargeable:hover {
  z-index: 2;
  -webkit-transition: all 100ms ease-in;
  -webkit-transform: scale(1.2);
  -ms-transition: all 100ms ease-in;
  -ms-transform: scale(1.2);
  -moz-transition: all 100ms ease-in;
  -moz-transform: scale(1.2);
  transition: all 100ms ease-in;
  transform: scale(1.2);
}

.outer-shadow {
  -webkit-box-shadow: 8px 20px 74px -3px rgba(0,0,0,0.57);
  -moz-box-shadow: 8px 20px 74px -3px rgba(0,0,0,0.57);
  box-shadow: 8px 20px 74px -3px rgba(0,0,0,0.57);
}

.down-shadow {
  -webkit-box-shadow: 4px 34px 75px -4px rgba(0,0,0,0.28);
  -moz-box-shadow: 4px 34px 75px -4px rgba(0,0,0,0.28);
  box-shadow: 4px 34px 75px -4px rgba(0,0,0,0.28);
}

.about-div {
  height: 100%;
  margin: 30px;
  background-color: #D8D8D8;
}

.description-bar {
  height: 36px;
  width: 100%;
  text-align: center;
  padding: 0px;
}

.name-header {
  margin: 0px;
}

.welcome-div {
  font-size: 20px;
}
