:root {
  --font-size-factor: medium;
}

body {
  padding-top: 0px;
  padding-bottom: 40px;
  background-color: #114D6B;
}

.big-textarea {
  width: 100%;
}

#description-edit {
  display: none;
}

.news-container {
  padding: 1%;
  background-color: #2EBDFF;
  opacity: 0.3;
}

.news-panel {
    background-color:#3394CC;
    min-height: 400px;
    max-height: 400px;
}

.news-panel a {
    color: #000000;
}

.news-panel p {
    color: #000000;
}

.rating-div {
  max-width: 15%;
}

.pointable {
  cursor: pointer;
}

span.glyphicon {
  font-size: 1.5em;
}

.enlargeable:hover {
  z-index: 2;
  -webkit-transition: all 100ms ease-in;
  -webkit-transform: scale(1.2);
  -ms-transition: all 100ms ease-in;
  -ms-transform: scale(1.2);
  -moz-transition: all 100ms ease-in;
  -moz-transform: scale(1.2);
  transition: all 100ms ease-in;
  transform: scale(1.2);
}
