/*
    Style for the Search result page
*/
.search-result-container{
    padding:10%
}

.search-result-table {
    background-color:#3394CC;
    min-height: 400px;
    max-height: 400px;
}

.search-result-table a {
    color: black;
}

