{% extends "layout.html" %}
{% block content %}
<script src="/javascript/common/create-entity.js"></script>
<script src="/javascript/common/update-entity.js"></script>
<script src="/javascript/common/postpicture.js"></script>
<script src="/javascript/pages/albumpage/display.js"></script>

<link rel="stylesheet" href="/stylesheets/tos_album.css">

<div class="album-container">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-8">
        <div class="row">
          <div class="col-md-6">
              {% with id=album.id, picture_url=album.description.picture_url, type="albums" %}
              {% include 'common/picturecontainer.html' %}
              {% endwith %}

            <div class="row">
              {% with id=album.id, type="albums", rating=album.rating, rated=rated %}
              {% include 'common/rating.html' %}
              {% endwith %}
            </div>
          </div>
          <div class="col-md-6">
            {% with entity=album %}
            {% include 'common/descriptioncontainer.html' %}
            {% endwith %}
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            {% with comments=album.comment, commentable_id=album.id, type="albums" %}
            {% include 'common/commentdisplay.html' %}
            {% endwith %}
          </div>
        </div>
      </div>
      <div class="col-md-4">
        {% with heading='Tracks', children=tracks, parent_id=album.id %}
        {% include 'common/childrenlist.html' %}
        {% endwith %}
      </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
