<div class="description-container well tos-well outer-shadow">
  <a href="#description-edit" class="btn btn-sm btn-default pull-right" data-toggle="collapse">
    <span class="glyphicon glyphicon-pencil"></span>
  </a>
  <h3>{{ entity.name }}</h3>
  <div id="description-display">
    {{ entity.description.description }}
  </div>

  <div id="description-edit" class="collapse">
    <textarea id="description-textarea" class="big-textarea" name="description" placeholder="Enter description"
      form="update-description-form" rows="12" cols="40">{{ entity.description.description }}</textarea>
    <form id="update-description-form" action="#" data-id="{{ entity.id }}">
      <input type="submit" name="submit" value="submit">
    </form>
  </div>
</div>
