
<div class="picture-container">
  <div id="picture-display" class="">
    <object id="img-element" data="{{ picture_url }}" type="image/png" class="img-thumbnail picture-frame outer-shadow" alt="Placeholder image">
      <img id="img-default" src="https://storage.googleapis.com/theonesound-148310.appspot.com/default.png" class="img-thumbnail picture-frame outer-shadow" alt="Image">
    </object>
  </div>
  <div id="picture-edit" class="collapse">
    <form id="update-picture-form" class="form-inline" action="#" data-id="{{ id }}" data-type="{{ type }}">
      <div class="form-group">
        <input id="file-input" type="file" name="image" accept="image/*">
      </div>
      <div class="form-group">
        <input type="submit" name="submit" value="submit">
      </div>
    </form>
  </div>

  <a href="#picture-edit" class="btn btn-sm btn-default" data-toggle="collapse">Change picture</a>
</div>
