{% extends "layout.html" %}
#This is a comment
#Macros can be defined in other templates too
{% macro input(name, value='', type='text', size=20) -%}
<input type="{{ type }}" name="{{ name }}" value="{{
        value|e }}" size="{{ size }}">
{%- endmacro %}
{% block content %}
<h1>Test Page</h1>
<b>{{ text }}</b><br>
<i>Here is an integer number {{ integer }}</i> <br>
<u>Here is a floating-point {{ float }}</u><br>
<br>
{% for text in listWithText %}
    {% if loop.first == True %}
        <b>first line</b>
    {% endif %}
    <li>{{ loop.index }}. {{ text }}</li>
    {% if loop.last == True %}
        <b>last line</b>
    {% endif %}
{% endfor %}
<br>

<b>This form is rendered using a macro</b>
<p>{{ input('username') }}</p>
<p>{{ input('password', type='password') }}</p>
<p> break here </p>

<form action="test" method="post">
  <p>{{ input( name='band_name' ) }}</p>
  <p>{{ input( name='album_name' ) }}</p>
  <p>{{ input( name='track_name' ) }}</p>
  <p>{{ input( name='band_name', type='submit' ) }}</p>
</form>


{% endblock %}
