{% extends "layout.html" %}
{% block content %}
<script src="/javascript/common/create-entity.js"></script>
<script src="/javascript/common/update-entity.js"></script>
<script src="/javascript/common/postpicture.js"></script>
<script src="/javascript/pages/bandpage/display.js"></script>

<link rel="stylesheet" href="/stylesheets/tos_band.css">


<div class="band-container">
  <div class="container-fluid">
    {% with name=band.name, id=band.id, type="bands", rating=band.rating, rated=rated %}
    {% include 'common/descriptionbar.html' %}
    {% endwith %}
    <div class="row">
      <div class="col-md-8">
        <div class="row">
          <div class="col-md-6">
            {% with id=band.id, picture_url=band.description.picture_url, type="bands" %}
            {% include 'common/picturecontainer.html' %}
            {% endwith %}

            {% include 'pages/bands/genres-and-members.html' %}

          </div>
          <div class="col-md-6">
            {% with entity=band %}
            {% include 'common/descriptioncontainer.html' %}
            {% endwith %}
          </div>

        </div>
        <div class="row">
          <div class="col-md-12">
            {% with comments=band.comment, commentable_id=band.id, type="bands" %}
            {% include 'common/commentdisplay.html' %}
            {% endwith %}
          </div>
        </div>
      </div>
      <div class="col-md-4">
        {% with heading='Albums', children=albums, parent_id=band.id %}
        {% include 'common/childrenlist.html' %}
        {% endwith %}
      </div>
    </div>
  </div>
</div>
{% endblock %}
