{% extends "layout.html" %}
{% block content %}
<script src="/javascript/common/update-entity.js"></script>
<script src="/javascript/pages/trackpage/display.js"></script>

<link rel="stylesheet" href="/stylesheets/tos_track.css">

<div class="track-container">
  <div class="container-fluid">
    {% with name=track.name, id=track.id, type="tracks", rating=track.rating, rated=rated %}
    {% include 'common/descriptionbar.html' %}
    {% endwith %}
    <div class="row">
      <div class="col-md-6">
        <div class="row">
          <div class="col-md-12">
            <!-- YOUTUE VIDEO -->
            <div class="youtube-container thumbnail">
              <div id="youtube-display" class="">
                <iframe id="youtube-vid" class="youtube-frame" src="{{ track.description.youtube_url }}" frameborder="0" allowfullscreen></iframe>
              </div>
              <a href="#youtube-edit" class="btn btn-sm btn-default" data-toggle="collapse">Edit</a>
              <div id="youtube-edit" class="collapse">
                <form id="update-youtube-form" action="#" data-id="{{ track.id }}">
                  <input id="youtube-input" type="url" name="youtube_url" placeholder="youtube embed-url">
                  <input type="submit" name="submit" value="submit">
                </form>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            {% with comments=track.comment, commentable_id=track.id, type="tracks" %}
            {% include 'common/commentdisplay.html' %}
            {% endwith %}
          </div>
        </div>
      </div>
      <div class="col-md-6">
        {% with entity=track %}
        {% include 'common/descriptioncontainer.html' %}
        {% endwith %}
      </div>
    </div>
  </div>
</div>
{% endblock %}
